src/.versioncheck
src/_build
src/_stage1
src/_stage2
src/_stage3
src/installation.ml
*.aux
*.bbl
*.blg
*.log
*.out
*.toc
*~
doc/main.pdf
*.cmi
*.cmo
*.cmx
*.o
*.ml.d
demos/calc/calc
demos/calc/lexer.ml
demos/calc/parser.ml
demos/calc/parser.mli
demos/calc/parser.d
