body {
  width: 100%;
  margin: 0 0 0 0;
  background-color: rgb(105,136,164);
  font-size: 1.1em;
}

h1 {
    margin: 0;
    margin-left: 0.4rem;
    margin-right: 0.4rem;
    font-family: 'Carter One', cursive;
    font-size: 12vh;
    text-align: center;
    color: rgb(105,136,164);
    font-variant: small-caps;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    background-color: With;
    background-size: cover;
    background-image:url(affichage.jpg);
    background-repeat:no-repeat;
    background-position:center top;
}

.widecard {
    background: #fff;
    border-radius: 2px;
    height: auto;
    position: relative;
    padding: 0.2rem;
    flex: 1;
    margin: 0.5rem;
}

.card {
    background: #fff;
    border-radius: 2px;
    margin: 0.4rem;
    padding: 0.2rem;
    position: relative;
    flex: 1;
    padding-bottom: 2rem;
}

.card-1 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-1:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

p.card-contents {
    margin: auto;
    width: 85%;
    margin-top: 1em;
}

h2.card-title {
    font-family: 'Carter One', cursive;
    font-size: 4vh;
    text-align: center;
    color: rgb(105,136,164);
    font-variant: small-caps;
    margin-top: 0.1em;
    margin-bottom: 0.1em;
}

div.contents {
    font-family: sans-serif;
    margin: auto;
    width: 100%;
    background-color: rgb(105,136,164);
}

code {
    font-size: 1.3em;
}

@media only screen and (min-width: 768px) {

  .flexbox {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      overflow: hidden;
      padding-top: 0.5em;
  }

  div.contents {
      font-family: sans-serif;
      margin: auto;
      width: 95%;
      background-color: rgb(105,136,164);
  }

  ul.features {
      columns: 2;
      -webkit-columns: 2;
      -moz-columns: 2;
      -webkit-column-gap: 2em;
      -moz-column-gap: 2em;
      column-gap: 2em;
      text-align: justify;
      text-justify: inter-word;
      padding-left: 3em;
      padding-right: 3em;
  }

  li {
      padding: 0;
      padding-top: 0.5em;
  }

}


